@model IEnumerable<MVSchool.Entities.Student>

@{
    ViewBag.Title = "Students";
}

<h2>Our Students</h2>

<p>
    @Html.ActionLink("Add New Student", "Create")
</p>
<table class="table table-dark">
    <thead>
        <tr >
            <th scope="col">@Html.DisplayNameFor(model => model.FirstName)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.LastName)</th>
         
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
   
<tbody>
    <tr class="table-secondary">

        <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
        <td>@Html.DisplayFor(modelItem => item.LastName)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) |
            @Html.ActionLink("Details", "Details", new { id = item.StudentId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })
        </td>
    </tr>
</tbody>
}

</table>
